body {
  background-color: white;
}
header {
  position: sticky;
  z-index: 9999;
  top: 0;
  background-color: white;
}
.container {
  display: flex;
  justify-content: space-between;
}
.akun {
  left: 40%;
}
.kotabatu {
  width: 3rem;
  margin-left: 2%;
}
.iconmenu img {
  display: none;
}
.sidebar {
  display: none;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.email {
  margin-top: 5%;
}
.pass {
  margin-top: 5%;
  margin-bottom: 5%;
}
.btn form {
  width: 10px;
}

@media (max-width: 768px) {
  .container ul li {
    display: none;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: black;
  }
  .sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .iconmenu img {
    display: flex;
    width: 2rem;
  }
}
@media (min-width: 360px) {
  .container ul {
    width: auto;
  }
  .kotabatu {
    display: flex;
    align-items: center;
    width: 2.5rem;
  }
  .iconmenu a {
    display: flex;
    align-items: center;
  }
}
