@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: #d5d5d5;
  display: flex;
}
.container {
  margin-top: 1%;
  margin-left: 20%;
}
.home {
  width: 100%;
}
.home1 {
  display: flex;
  justify-content: space-around;
}
.fungsi {
  display: inline-flex;
  align-items: center;
}
.card i {
  font-size: 3rem;
}
.daftar {
  width: 100%;
}
.daftar form {
  position: relative;
  margin-left: 30%;
}
.email input {
  width: 50%;
  height: 3rem;
  margin-bottom: 3%;
  border-radius: 10px;
  border: none;
}
.pass input {
  width: 50%;
  height: 3rem;
  margin-bottom: 3%;
  border-radius: 10px;
  border: none;
}
.nama_ormas input {
  width: 50%;
  height: 3rem;
  margin-bottom: 3%;
  border-radius: 10px;
  border: none;
}
.btn_daftar {
  width: 50%;
  height: 3rem;
  border-radius: 10px;
  background-color: #f95454;
  color: #ffff;
  font-weight: bold;
  border: none;
}
.btn_dwld {
  background-color: white;
  color: #3086ff;
  border: 2px solid #3086ff;
  border-radius: 5px;
}
.btn_dwld:hover {
  color: white;
  transition-duration: 0.4s;
  background-color: #3086ff;
  border: none;
}
.btn_delete {
  background-color: white;
  color: #f95454;
  border: 2px solid #f95454;
  border-radius: 5px;
}
.btn_delete:hover {
  background-color: #f95454;
  transition-duration: 0.4s;
  color: white;
  border: none;
}
